
  body{
    background:url(/assets/images/black-wallpaper-6.jpg);  
    background-repeat:no-repeat;
    background-size: 100%;

    
}
a.imgLink1{
    color:black; text-decoration: none;
  }
  a.imgLink2{
    color:black; text-decoration: none;
  }
  a.imgLink3{
    color:black; text-decoration: none;
  }
  
h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color:white;
  
    
    background-color:rgba(0, 0, 0, 0.534);
    
    
    padding-left: "20px";
    float: left;
    padding-left: 100px;
    
}
h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 200%;
    padding-left: 10px;
    padding-top: 30px;
    color: white;;
}
h3 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 150%;
    padding-left: 20px;
    padding-top: 20px;
    color: white;;
}

.nameI {
    height: "30px";
    width: "70px";
}

ul {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 120%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
  }
  
  li {
    
    display: inline;
    
  }
  .submitBox {
      padding-left: 50px;
      width: 70%;
      text-align: left;
  }

  
footer {
    padding-top: "20px";
    position: relative;
    left: 0;
    bottom: 0;
    height: 3;
    width: 100%;
    color:#FFFFFF; 
    background: rgba(59, 82, 94, 0.74);
    font-size:1.5em;
    text-align: center;
    line-height:100px;
    }

  

  
  