
  body{
    background:url(/assets/images/black-wallpaper-6.jpg); 
    background-repeat:no-repeat;
    background-size: 100%;
  
    
}
h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color:white;
  
    
    background-color:rgba(0, 0, 0, 0.534);
    
    
    padding-left: "20px";
    float: left;
    padding-left: 100px;
    
}
h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 200%;
    padding-left: 10px;
    padding-top: 30px;
    color: white;;
}


.nameI {
    height: "30px";
    width: "70px";
}

ul {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 120%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
  }
  
  li {
    
    display: inline;
    
  }
  .boxSet {
    
      
    width: 100%;
    align-content: center;

  }

.box-1 {
    position: relative;
    
    float:left;
    width: 45%; 
}
.box-1 span {
    
    color: white;
    /* position: absolute; */
    right: 10px;
    top: 10px;
    font-size: 25px;

}

.box-2 {
    float:left;
    width: 45%;
    

}
.box-2 span {
    
    color: white;
    /* position: absolute; */
    right: 10px;
    top: 10px;
    font-size: 25px;

}
.box-3 {
    float:left;
    width: 45%;


}
.box-3 span {
    
    color: white;
    /* position: absolute; */
    right: 10px;
    top: 10px;
    font-size: 25px;

}
.box-4 {
    float:left;
    width: 45%;


}
.box-4 span {
    
    color: white;
    /* position: absolute; */
    right: 10px;
    top: 10px;
    font-size: 25px;

}

.box-5 span {
    
    color: white;
    /* position: absolute; */
    right: 10px;
    top: 10px;
    font-size: 25px;

}

  
footer {
    
    position: relative;
    left: 0;
    bottom: 0;
    height: 3;
    width: 100%;
    color:#FFFFFF; 
    background: rgba(59, 82, 94, 0.74);
    font-size:1.5em;
    text-align: center;
    line-height:100px;
    }

  

  
  